*::-webkit-input-placeholder {
    color: #666;
    opacity: 1;
}

*:-moz-placeholder {
    color: #666;
    opacity: 1;
}

*::-moz-placeholder {
    color: #666;
    opacity: 1;
}

*:-ms-input-placeholder {
    color: #666;
    opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {

}

body input:required:valid,
body textarea:required:valid {

}

body {
    font-family: "RobotoRegular", sans-serif;
    font-size: 16px;
    min-width: 320px;
    position: relative;
}

.hidden {
    display: none;
}

.carousel img {
    width: 100%;
    height: auto;
}

.parallax {
    background-attachment: fixed;
    background-position: 50% 0;
    position: relative;
}
header {
    min-height: 644px;
    background: url('/img/top-background.jpg') repeat-x center;
    position: relative;
}

.top_line {
    min-height: 98px;
    background-color: #000;
    opacity: .6;
    position: absolute;
    top: 0;
    width: 100%;
    box-shadow: rgba(225, 225, 225, .3) 0 0 0 1px;
}

.top_addr {
    padding-left: 60px;
    background: url("../img/top-mark.png") no-repeat center left;

}

.top_addr strong {
    color: #d12f22;
    display: block;
    font-weight: normal;
    text-transform: uppercase;
}